# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Database
*.db

# Virtualenv
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Environment
.env
